<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/layout/fragments/head :: head"></head>
<body>
    <div id="pageContainer">
        <div id="container" class="v-flex is-midst">
            <main class="content">
                <form role="form" id="loginForm" class="content-form">
                    <div class="field is-grouped">
                        <div class="field">
                            <label for="loginId" class="label">아이디</label>
                            <span class="text-field">
                                <input type="text" name="id" id="loginId" class="box input" autofocus>
                            </span>
                        </div>
                        <div class="field">
                            <label for="loginPwd" class="label">비밀번호</label>
                            <span class="text-field">
                                <input type="password" name="password" id="loginPwd" class="box input" autocomplete="off">
                            </span>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="field">
                            <span class="btn btn-primary">
                                <button type="button" id="loginBtn" class="box button">로그인</button>
                            </span>
                        </div>
                        <div class="field">
                            <span class="link">
                                <a href="#" role="link">아이디 찾기</a>|
                                <a href="#" role="link">비밀번호 찾기</a>|
                                <a href="/sign-up" role="link">회원가입</a>
                            </span>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <th:block th:replace="common/layout/fragments/script"/>
</body>
</html>